@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes gradient-cycling {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-cycling {
  background: linear-gradient(270deg, #a8c0ff, #d3e0ea, #a8c0ff, #d3e0ea);
  background-size: 400% 400%;
  animation: gradient-cycling 20s ease infinite;
}